<!doctype html>

<html lang="en">
  <head>
    {% include 'page-meta.html' %}

    <title>mavericks pizzeria</title>

    {% include 'page-link.html' %}
  </head>

  <body class="container-fluid">
    {% include 'page-header.html' %}

    <main class="row">
      <section>
        <h2></h2>

        <figure>
          <img src="" alt="">
          <figcaption></figcaption>
        </figure>

        <figure>
          <img src="" alt="">
          <figcaption></figcaption>
        </figure>

        <figure>
          <img src="" alt="">
          <figcaption></figcaption>
        </figure>
      </section>

      <section>
        <button>ready to order</button>
      </section>
    </main>

    {% include 'page-footer.html' %}
    
    <script src="js/client.js"></script>
  </body>
</html>
